.header{
    background-color: #141A46;
    height: 80px;
}
.icon{
    float:left;
    padding-left: 40px;
    width: 15%;
    color: whitesmoke;
}
.navbar{
    /* background-color: hotpink; */
    height: 50px;
    padding-top: 25px;
    float:right;
}
.navbar a{
    padding: 14px 18px;
    text-decoration: none;
    color: whitesmoke;
    /* background-color: hotpink; */
}
.navbar a:hover{
    color: crimson;
}
.navbar a.active{
    background-color: whitesmoke;
    color: black;
}
.session{
    background-color:whitesmoke;
    height: 1000px;
    width: 90%;
    margin: auto;
}
.part1{
    height: 800px;
    background-color: whitesmoke;
    
}
.row1{
    background-color: whitesmoke;
    height: 50%;
    width: 90%;
    margin: auto;
    display: flex;
}
.pic1{
    height: 80%;
    width: 50%;
    background-color: white;
    background-image: url("pic1.jpg");
    background-position: left;
    background-size: 400px 500px;
    background-repeat: no-repeat;
    margin-top:5%;
    text-align: right;
    padding-right: 45px;
}
.pic2{
    height: 80%;
    width: 50%;
    background-color: white;
    background-image: url("pic3.jpg");
    background-size: 350px 400px;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top:5%;
    text-align: right;
    padding-right: 45px;
}
.row2{
    background-color: whitesmoke;
    height: 50%;
    width: 90%;
    margin: auto;
    display: flex;
}
.pic3{
    height: 80%;
    width: 50%;
    background-color: white;
    background-image: url("pic4.jpg");
    background-size: 350px 350px;
    background-position: left;
    background-repeat: no-repeat;
    margin-top:5%;
    text-align: right;
    padding-right: 45px;
}
.pic4{
    height: 80%;
    width: 50%;
    background-color: white;
    background-image: url("pic6.jpg");
    background-size: 350px 500px;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 25px;
    margin-top:5%;
    text-align: right;
    padding-right: 45px;
}
.part2{
    height: 200px;
    background-color: #141A46;
    display: flex;
}
.block1{
    background-color: whitesmoke;
    height: 85%;
    width:25%;
    text-align: center;
    margin: auto;
    
}
.block2{
    background-color: whitesmoke;
    height: 85%;
    width:40%;
    text-align: center;
    margin: auto;
}
.block3{
    background-color: whitesmoke;
    height: 85%;
    width:25%;
    text-align: center;
    margin: auto;
}
.footer{
    background-color: #141A46;
    height: 80px;
    padding-top: 16px;
    text-align: center;
    color: whitesmoke;

}